@font-face {
    font-family: HeyCFont;
    src: url(../fonts/TT\ Rounds\ Neue\ Trial\ Black.ttf);
}

html {
    /* background-color: rgb(203, 241, 255); */
    font-family: HeyCFont;
    font-size: 25px;
    /* margin: 0 30px; */
    cursor: url("../Images/ant.png"), auto;
}

body{
 /* background-image: url('../Images/camp/sky.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; */
}

a {
    text-decoration: none;
    color: rgb(59, 178, 41);
}


h1 {

    font-size: 4em;
    color: rgb(27, 128, 46);
    /* font-family: Arial Rounded MT Bold; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    h1 :hover{
        color: rgb(27, 128, 46);
        text-decoration: none;
    }

.projlogo{
     width: 30%;
     padding:0%;
}

.projicon{
    width: 10%;
}
.snow-back{
    width: 10%;
    position:fixed;
    bottom:2px;
    left: 2%;
}

.sign-container {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.shelf-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.item {
    position: absolute;
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
    pointer-events: auto;
}

.item:hover {
    transform: scale(1.1);
    /* filter: drop-shadow(0 5px 15px rgba(255, 255, 255, 0.3)); */
}
.shop {
    width: 20%;
    top: -15px;
    left: 10%;
    
}
    .shop:hover{
     animation: myAnim 1s ease 0s 1 normal forwards;
    }


.blog-butt {
    width: 20%;
    top: 10%;
    right: 2%;
}
    .blog-butt:hover {
    animation: shakeAnim 1s ease 0s 1 normal forwards;
}

.game-butt {
    width: 20%;
    top: 40%;
    right: 2%;
}
    .game-butt:hover {
        animation: jelloAnim 1s ease 0s 1 normal forwards;
    }

@keyframes jelloAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
    
@keyframes shakeAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 100% 50%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	90% {
		transform: rotate(0deg);
	}

}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

.center {
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.blog {
 
  width: 50%;
  height: 220px;
  gap: 10px;
  border-radius: 10px;
  /* display: flex; */
  margin-top: 9%;
  margin-left: 20%;
  padding: 5%;
  overflow: scroll;
}

    .blog img{
        width: 90%;
        height: auto;
    }
    .blog video{
        width: 50%;
        height: auto;
        margin-left: 25%;
    }
.blog-image{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 20%;
    top: 0px;
    z-index: -1;
}

.drinosplash{
    width: 15%;
    position:fixed;
    top:0px;
    right: 0px;
}
.pupsplash{
    width: 20%;
    position:fixed;
    bottom:0px;
    right: 10%;
}
.back-butt{
    width: 16%;
    position:fixed;
    top:2%;
    left: 2%;
    transition: transform 0.3s ease;
}
    .back-butt:hover {
    transform: scale(1.1);
    /* filter: drop-shadow(0 5px 15px rgba(255, 255, 255, 0.3)); */
}

.proj{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;  
}

.proj img{
    /* width: 32%;
   max-width: 600px; */
   padding: 2%;
   height: 30vw;
   max-height: 600px;

}
    .proj video{
    width: 32%;
    height: auto;
    }


@media screen and (max-width: 650px) {
 html{
   font-size: 15px; 
 
}
.shop {
    width: 34%;
}

.blog-butt {
    width: 34%;
    
}

.game-butt {
    width: 34%;
    
}

}

@media screen and (max-width: 1050px){

html{
   font-size: 10px; 
 }
 .blog {
  height: 310px;
  
}
}
@media screen and (max-width: 770px){

 .blog {
  height: 350px;
  margin-top: 15%;
}
.proj img{
    height: 40vw;
}

}
@media screen and (max-width: 350px){

 .blog {
  height: 380px;
  margin-top: 30%;
}
.proj img{
    height: 80vw;
}

html{
   font-size: 10px; 
 }
}

