@font-face {
    font-family: PorkyFont;
    src: url(../fonts/PORKYS_.TTF);
}

html {
    /* background-color: rgb(203, 241, 255); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0 30px;
}

body {
 background-image: url('../Images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

